/* =========================================
   1) สไตล์พื้นฐาน (มือถือเป็นหลัก)
   ========================================= */
img {
    max-width: 100%;
    height:auto;
    align-items: center;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: #f5f5f5;
}

header {
    background: #0d0057;
    color: #ffffff;
    text-align: center;    /* มือถือ: จัดกลาง */
    padding: 15px;
}

nav {
    display: flex;
    flex-direction: column; /* มือถือ: เมนูเรียงลง */
    gap: 10px;
    margin-top: 10px;
}

nav a {
    background: #156abe;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(240, 107, 107, 0.3);
}

main {
    padding: 15px;
}

.card {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

footer {
    background: #dddddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/* =========================================
   2) แท็บแล็ตขึ้นไป
   ========================================= */

@media (min-width: 768px) {
    
    header {
        text-align: left;
        padding: 20px ;
    }

    nav {
        flex-direction: row; 
    }

    main { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px ;
        padding: 20px;
    }
}

/* =========================================
   3) แท็บแล็ตขึ้นไป
   ========================================= */
@media (min-width: 1024px) {

    body {
        max-width: 1200px; /*จำกัดความกว้าง*/
        margin: 0 auto;    /*จัดกลางหน้าจอ*/
    }

    header {
        padding: 30px 40px;
    }

    main {
        grid-template-columns: repeat(3,1fr); /*3  column*/
    }

}